# some of these checkers are disabled because it's harmful to implement feature fast.
# they are mostly,
#   * relative to type issues(sign, unsigned, overflow, ...)
#   * cost pretty much time to fix (recursion, virtual call in ctor, ...)
#   * probably occurs in a chance of very rarely.
#   * false positive.
#   * it's about a nullable reference.
#
# when the project goes into sustainable state, and more people get involved,
# then I can set all of them to enable.
#
# oh! and don't use '#' at the end of line. it's only allowed to use just very in front of a line.
Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-cplusplus.StringChecker,
  -clang-analyzer-core.uninitialized.UndefReturn,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-analyzer-core.StackAddressEscape,
  -clang-analyzer-core.NonNullParamChecker,
  cppcoreguidelines-*,
  -cppcogeguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-prefer-member-initializer,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-slicing,
  -cppcoreguidelines-c-copy-assignment-signature,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-pro-type-member-init,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -misc-no-recursion,
  -misc-new-delete-overloads,
  -misc-unconventional-assign-operator,
  performance-*,
  portability-*

WarningsAsErrors: true
HeaderFilterRegex: ''
FormatStyle: none
AnalyzeTemporaryDtors: false
CheckOptions: # these are default values of clang-tidy
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           'true'
