*.dll
*.ilk
*.pdb
*.exe
*.ncb
*.user
*.suo
*.manifest
Debug/
*.obj
*.idb
*.dep
*.res
.vs/
BuildLog.htm
*.sdf
Release/
*.exp
*.lib
Prototypes/
Binaries/
*.log.dev.dbg
*.log.dev
*.log
logs
*.exe
!AfterBuild.exe
!Applications/SDKBuilder/sdkbuilder.bat
*.ini
SDK/
*.rsp
sdk_copy_into_your_sdk_folder/
*.i
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
*.sln
*.vcproj
*.vcxproj
*.vcxproj.filters
outputs/
Makefile
buildInformation.hpp
*.a
*.so
*.o
FileManipulatorTest.txt
.vscode/
generated/
build/*Test
build/html/
build/xml/
external/
build/*.tmp
build/.clangd/
build/mod/
build/compile_commands.json
build/.cmake/
.idea/
tags
docs/html/
docs/xml/
.DS_Store
bin/
**/worker/bison/lowscanner.cpp
**/worker/bison/lowscanner.hpp
**/worker/bison/lowparser.cpp
**/worker/bison/lowparser.hpp
**/worker/bison/bisonReport.*
**/worker/bison/*.output
**/worker/bison/*.gv
**/worker/bison/*.jpg
**/parser/seedlingParser.cpp
**/parser/seedlingParser.hpp
**/parser/seedlingScanner.cpp
**/parser/seedlingScanner.hpp
**/parser/*.output
**/parser/*.gv
**/src/parser/*.jpg
**/proto/compiler/*.output
**/proto/compiler/*.tab.cpp
**/*dSYM/Contents/*
*.deb
build/debian/usr/
*Zone.Identifier
.cache/
*.patch
code_coverage.info
