*.dll
*.ilk
*.pdb
*.exe
*.ncb
*.user
*.suo
*.manifest
Debug/
*.obj
*.idb
*.dep
*.res
BuildLog.htm
*.sdf
Release/
*.exp
*.lib
Prototypes/
Binaries/
*.log.dev.dbg
*.log.dev
*.log
logs
*.exe
!AfterBuild.exe
!Applications/SDKBuilder/sdkbuilder.bat
*.ini
SDK/
*.rsp
sdk_copy_into_your_sdk_folder/
*.i
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
*.sln
*.vcproj
*.vcxproj
outputs/
Makefile
BuildInformation.hpp
*.a
*.so
*.o
FileManipulatorTest.txt
.vscode/
generated/
build/*Test
build/html/
build/xml/
build/*.tmp
tags
docs/html/
docs/xml/
.DS_Store
bin/
