*.dll
*.ilk
*.pdb
*.exe
*.ncb
*.user
*.suo
*.manifest
Debug/
*.obj
*.idb
*.dep
*.res
BuildLog.htm
*.sdf
Release/
*.exp
*.lib
Prototypes/
Binaries/
*.log.dev.dbg
*.log.dev
*.log
logs
*.exe
!AfterBuild.exe
!Applications/SDKBuilder/sdkbuilder.bat
*.ini
SDK/
*.rsp
sdk_copy_into_your_sdk_folder/
*.i
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
*.sln
*.vcproj
*.vcxproj
outputs/
Makefile
buildInformation.hpp
*.a
*.so
*.o
FileManipulatorTest.txt
.vscode/
generated/
build/*Test
build/html/
build/xml/
external/
build/*.tmp
build/mod/
tags
docs/html/
docs/xml/
.DS_Store
bin/
**/interpreter/lowscanner.cpp
**/interpreter/lowscanner.hpp
**/interpreter/lowparser.cpp
**/interpreter/lowparser.hpp
**/interpreter/bisonReport.*
**/interpreter/*.output
**/interpreter/*.gv
**/interpreter/*.jpg
**/parser/swrdParser.cpp
**/parser/swrdParser.hpp
**/parser/swrdScanner.cpp
**/parser/swrdScanner.hpp
**/parser/*.output
**/parser/*.gv
**/src/parser/*.jpg
**/*dSYM/Contents/*
