textarea#src {
    width: 100%;
    height:100%;
    font-family: Retro Gaming;
    font-size: 15px;
    background-color: transparent;
    resize: none;
    color: #8ba88c;

    padding-left: 50px;
    padding-right: 50px;

    flex: 1 0 auto;
}

textarea#src:focus {
    outline: none !important;
    box-shadow: none !important;
}

iframe#namu {
    width: 100%;
    height:calc(100% - 30px);
    border: 0px solid;
}
div#top_pane {
    width: 100%;
    background-color: #152330;
    text-align: right;
    padding-right: 20px;
}
div#mid_pane {
    width: 100%;
    background-color: #152330;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

div#bottom_pane {
    width:100%;
    height: 0px;
    background-color: #204261;
}

div.search-content {
    flex: 0;
    display: none;
    height: 0px;
}

div.initial-content {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: 'Retro Gaming';
    font-style: 'normal';
    font-weight: 400;
    src: url('Retro Gaming.ttf') format('truetype');
}

label#lb_verbose {
    display:inline;
    margin-right: 20px;
}

label.bin_ver {
    font-size: smaller;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #11999e;
}

.scrollbar::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

input#runbt {
    border-radius: 1.4rem;
    background-color: #8C7765;
    width: 80px;
}

input#runbt:hover {
    background-color: #F3EDDB;
}

select#dd-srcs {
    border-radius: 1.4rem;
    background-color: #333740;
    color: #F3EDDB;

    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
}

input#bt-close {
    float: right;
    display: none;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-top: 5px;
    background-color: #8C7765;
    border-radius: 15px;
    padding-top: 0px;
}

input#bt-close:hover {
    background-color: #F3EDDB;
}

div#bottom_pane b {
    color: #fff;
}

div#bottom_pane img {
    margin-left: 20px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}