body {
    text-align: center;
    margin: 0 auto;
}

textarea#output {
    display: none;
    width: calc(100vw - 6px);
    background-color: #204261;
    color: #fff;
    height: 100vh;

    border: 0px solid;

    padding-left: 50px;
    padding-right: 50px;

    font-size: 15px;
    font-family: Retro Gaming;
}

textarea#output:focus {
    outline: none !important;
    box-shadow: none !important;
}

div#playbt {
    width: 100vw;
    height: 100vh;
    background-color: #204261;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #11999e;
}

.scrollbar::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}