---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
<script type='text/javascript' src='/index.js'></script>

<div id="main-bg" role="main">
  {% include sidebar.html %}+
  <div id="main-content">
    <div id='main-content-header'>
      <img src='assets/images/logo.png' id='main-content-logo' />
      <div>The Namu Programming Language</div>
    </div>

    <div id='main-content-navi'>
      <a id='main-content-download' href='/download/'>Download</a>
      <a id='main-content-feature' href='/guide/'>Feature</a>
    </div>
  </div>
</div>